.music.window {
  @include window;

  .cover {
    background-position: center;
    background-size: cover;
    border-radius: $round;
    box-shadow: 0 1px 2px -1px $bg;
    margin: 0.4rem;
    min-height: 13rem;
    min-width: 13rem;
  }
}

.music.window .info {
  margin: 0.5rem;

  label,
  scale {
    margin: 0.3rem 0;
  }

  label.position,
  label.length {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  scale {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 14rem;
  }
}

.music.window .controls {
  button {
    margin: 0 0.2rem;
    font-size: 1.5rem;
  }
}

.music.window .player-info {
  margin-bottom: 0;

  .player-icon {
    font-size: 1.2rem;
  }
}
