.osd {
  @include window;
  padding: 0;
  margin-bottom: 2rem;

  image {
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }

  progressbar trough {
    border-radius: 16px;
    background: none;
    min-width: 12.5rem;
    min-height: 2.5rem;
  }

  progressbar progress {
    border-radius: 0;
    border-radius: 16px;
    min-height: 2.5rem;
  }
}
