/* general */
.system-menu {
  @include window;
  margin-top: 4px;
  margin-right: 4px;

  & > box {
    @include window-box;
  }
}

/* toggles */
.system-menu .toggle {
  min-width: 20rem;
  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }

  .button {
    margin-right: 0.5rem;
  }
}

/* power profiles */
.system-menu .power-profiles {
  padding: 0;

  .current-profile {
    padding: 0.3rem;
  }

  image,
  label {
    margin: 0.3rem;
  }

  .options {
    padding: 0;

    widget {
      @include button;
      border-radius: 0;

      &:last-child {
        border-radius: 0 0 $round $round;
      }

      box {
        padding: 0.3rem;
      }
    }
  }
}

/* sliders */
.system-menu .sliders {
  image {
    margin: 0.3rem;
  }

  scale {
    margin: 0 0.5rem;
  }
}

.system-menu .battery-box {
  image,
  label {
    margin: 0 0.3rem;
  }

  .time {
    color: rgba(255, 255, 255, 0.7);
  }
}
