$red: #f38ba8;
$yellow: #f9e2af;
$green: #a6e3a1;
$blue: #89b4fa;

$tooltip-bg: #ffffff;
$fg: #000000;
$bg: rgba(255, 255, 255, 0.5);
$bar-bg: rgba(255, 255, 255, 0.3);

$surface: rgba(255, 255, 255, 0.3);
$overlay: rgba(0, 0, 0, 0.5);

$accent: #ddbaef;

/* buttons */
$button-enabled: $accent;
$button-enabled-hover: adjust_color($button-enabled, $lightness: -10%);

$button-disabled: $surface;
$button-disabled-hover: adjust_color($button-disabled, $alpha: +0.1);

* {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

@mixin border {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    // inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 3px 5px 1px rgba(0, 0, 0, 0.3);
}
