@import 'css/colors';

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  transition: 200ms ease;
  font-family: Product Sans, Roboto, sans-serif;
}

@import 'css/calendar';
@import 'css/music';
@import 'css/notification';
@import 'css/osd';
@import 'css/sidebar';
@import 'css/system';
@import 'css/volume';

.bar {
  background-color: $bg;
  color: $fg;

  label {
    font-size: 1.2rem;
  }
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: 1rem;
  }
}

.icon, .icon label { font-family: Material Symbols Outlined; }

.module { margin: 0 5px; }
.hour {
  font-weight: bold;
  margin-left: 5px;
}

.date {
  background: $bg;
  color: $flamingo;

  label {
    font-size: 1.2rem;
  }
}

.bright-icon { color: $yellow; }
.module-bt { font-size: 1.2rem; }

scale trough {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

.workspaces { margin-left: 10px; }

.notif-toggle {
  padding: 0 5px;
}
