@import 'css/colors';

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  border: 1px solid $border;
  box-shadow: 0 2px 3px $shadow;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  transition: 200ms ease;
}

@import 'css/calendar';
@import 'css/music';
@import 'css/notification';
@import 'css/sidebar';
@import 'css/system';
@import 'css/volume';

.bar {
  background-color: $bg;
  color: $fg;

  label {
    font-size: 1.2rem;
  }
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;

  label {
    font-size: 1rem;
  }
}

.module { margin: 0 5px; }
.hour { font-weight: bold; }
.date {
  background: $bg;
  color: $flamingo;
  margin-left: -1.2rem;
  padding: 0 1rem;

  label {
    font-size: 1.2rem;
  }
}

.bright-icon { color: $yellow; }

.module-ssid,
.module-net { color: $lavender; }

.module-bt { font-size: 1.2rem; }

.separ {
  color: $surface0;
  font-size: 1.5rem;
  padding-bottom: 2px;
}

scale trough {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

.ws { margin-top: .4rem; }
.workspaces { margin-left: 10px; }

.launcher label {
  background-color: $blue;
  color: $bg;
  font-family: monospace;
  font-size: 1.5rem;
  padding: 0 1.1rem 0 .5rem;
}

.notif-toggle {
  padding: 0 5px;
}
