window {
  background: unset;
}

flowboxchild {
  outline-width: 0;
}

#outer-box {
  background: #1e1e2e;
  border-radius: 24px;
  box-shadow: 0 2px 3px black;
  margin: 5px 5px 10px;
  padding: 5px 5px 10px;
}

#input {
  background-color: #161320;
  border: none;
  border-radius: 16px;
  color: #f8f8f2;
  margin: 5px;
}

#inner-box {
  background-color: #1E1D2F;
  border: none;
  border-radius: 16px;
  margin: 5px;
}

#scroll {
  border: none;
  margin: 0px;
}

#text {
  color: #f8f8f2;
  margin: 5px;
} 

#entry {
  border-radius: 16px;
}

#entry:selected {
  background-color: #302D41;
}

