.calendar-win {
  padding: .2em;
  @include window;
}

calendar {
  padding: 5px;

  :selected {
    color: $mauve;
  }

  .header {
    color: $subtext1;
  }

  .highlight {
    color: $maroon;
    font-weight: bold;
  }

  .button {
    color: $sapphire;
  }

  :indeterminate {
    color: $overlay0;
  }
}
