.osd-part {
  margin: 0 .5rem .5rem;
  @include window;

  label {
    color: $text;
    font-size: 2rem;
    margin: 0 .1rem 0 .2rem;
  }

  scale {
    margin: -.2rem 0;
  }

  trough {
    @include rounding;
    background-color: $bg1;
    margin: 1rem 0 .5rem;
    min-height: 10rem;
    min-width: .7rem;

    highlight {
      @include rounding;
      min-width: 0;
    }
  }
}

/* scale highlight gradients for volume & brightness */
.osd-volume highlight {
  background-image: linear-gradient(to top, $teal, $sky);
}

.osd-brightness highlight {
  background-image: linear-gradient(to top, $yellow, $peach);
}
