.bar { background: $bar-bg; }
.module { margin: 0 .5rem; }

/* workspaces */
.focused {
  background-color: $bg;
  border-radius: 1rem;
  margin: .3rem;
  padding: .3rem;
}

.ws {
  background: $surface;
  border-radius: 2rem;
  margin: .8rem .2rem;
  padding: .1rem;
}

.ws-red { background: $red; }
.ws-yellow { background: $yellow; }
.ws-green { background: $green; }
.ws-blue { background: $blue; }
