$red: #f38ba8;
$yellow: #f9e2af;
$green: #a6e3a1;
$blue: #89b4fa;

$tooltip-bg: #000000;

$accent: rgb(46, 63, 147);

$bar-bg: rgba(0, 0, 0, 0.2);
$bg: rgba(0, 0, 0, 0.5);
$fg: #ffffff;
$surface: rgba(255, 255, 255, 0.15);
$overlay: rgba(255, 255, 255, 0.7);

$button: $surface;
$hover: adjust_color($button, $alpha: +0.1);

$button-active: $accent;
$button-active-hover: adjust_color($accent, $lightness: +20%);

$text: $fg;
$subtext: #cccccc;

$focused: $bg;

* {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

@mixin border {
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.5);
}
