/* general css styles */

$round: 8px;
$margin: 0.4rem;
$padding: 0.4rem;
$border-width: 2px;

* {
  color: $fg;
}

/* mixins */
@mixin window-rounding {
  border-radius: calc($round * 2);
}

@mixin rounding {
  border-radius: calc($round * 2 - $padding - $border-width);
}

@mixin window-box {
  @include rounding;

  background: $surface;
  box-shadow: 0 1px 5px -5px rgba(0, 0, 0, 0.5);
  margin: $margin;
  padding: $padding;
}

@mixin window {
  @include border;
  @include window-rounding;

  background: $bg;
  margin: 5px 5px 10px;
  padding: $padding;
}

tooltip {
  background: $tooltip-bg;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 0 rgba(0, 0, 0, 0.4);
  border-radius: $round;
}

/* icon font */
.icon,
.icon label {
  font-family: Material Symbols Outlined;
}

/* scales */
$scaleh: 0.5rem;

scale {
  trough {
    background-color: $surface;
    border-radius: $scaleh;
    min-width: calc($scaleh * 10);
    padding: 0 calc($scaleh / 2);
  }

  highlight {
    background: $overlay;
    border-radius: $scaleh;
    margin: 0 calc(0px - $scaleh / 2);
    min-height: $scaleh;
  }
}

.button {
  background: $button;
  border-radius: 100%;
  padding: 0.2rem 0.4rem; /* general for icons */

  &:hover {
    background: $hover;
  }
}

/* modules */
.enabled,
.connected {
  label {
    color: $fg;
  }

  button {
    background: $button-active;

    &:hover {
      background: $button-active-hover;
    }
  }
}
