/* module cover art */
.song-cover-art {
  background-position: center;
  background-size: cover;
  border-radius: 2rem;
  margin: 4px 5px 4px 0;
  min-height: 2rem;
  min-width: 2rem;
}

/* music window */
.music-window {
  @include window;

  & > box {
    @include window-box;
    background-position: center;
    background-size: cover;
    box-shadow: none;
  }

  background-position: center;
  background-size: cover;

  .cover {
    box-shadow: 0 1px 2px -1px $bg;
    min-height: 12rem;
    min-width: 12rem;
  }
}

.music-box {
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
  }

  .artist {
    margin: 0.7rem;
  }

  .buttons {
    margin: 1rem 0 0.5rem;

    .icon {
      font-size: 2rem;
    }
  }

  trough {
    min-width: 12rem;
    margin: 0 calc($scaleh / 2);
  }
}

.music-time {
  margin: 0 calc($scaleh / 2);
}
