/* CPU & RAM */
.sys-indicator {
  .property {
    font-size: .5rem;
    font-weight: 300;
    margin-bottom: -.2rem;
    margin-top: .4rem;
  }

  .value {
    font-size: .8rem;
  }
}

.bar .battery .icon {
  font-size: 1.2rem;
  .low { color: $red; }
}
