/* system menu */

.system-menu-window {
  @include window;

  .text {
    font-size: .75rem;
  }

  & > box { @include window-box; }
}

/* wifi/bt/airplane buttons */
.toggle {
  margin: .2rem;

  button {
    margin-right: .5rem;
  }

  &.enabled button,
  &.connected button {
    background: $blue;
    .icon { color: black; }
  }
}

/* volume & brightness sliders */
.sliders {
  scale {
    margin-right: -.5rem;
    min-width: 15rem;
  }

  trough { margin-left: 0; }

  .icon {
    font-size: 1.05rem;
    margin: 0 .3rem;
  }

  .volume highlight {
    background-image: linear-gradient(to right, $teal, $sky);
  }

  .brightness highlight {
    background-image: linear-gradient(to right, $yellow, $peach);
  }
}

/* battery & power button */
.system-menu .battery {
  .icon {
    font-size: 1.5rem;

    &.low { color: $red; }
  }

  * { transition: none; }
  .rate { color: #ccc; }
  .status { margin: 0 .5rem; }
}
