.system-menu-box {
  @include window;
  background-color: $bg;
  border: 1px solid $border;
  color: $text;
}

.separator {
  font-size: 1rem;
}

.top-row {
  margin: 1rem 1.5rem 0;
}

.system-row {
  margin: .5rem .7rem;

  .airplane-box button {
    padding: 1rem 3rem;
  }

  label {
    font-size: 1rem;
    margin: 0 .1rem;
  }
}

.element {
  @include rounding;
  background: $surface0;
  margin: .3rem;

  button {
    @include rounding;
    padding: 1rem;

    label {
      font-size: 1.5rem;
    }

    &:hover {
      background: $overlay0;
    }
  }
}

.sliders {
  @include rounding;
  background-color: $surface0;
  margin: .5rem 1rem;
  padding: .6rem 1rem;

  scale {
    margin-right: -1rem;
    min-width: 21.5rem;
  }

  box { margin: .2rem 0; }

  label { font-size: 1.2rem; }
}

.volume-bar highlight {
  @include rounding;
  background-image: linear-gradient(to right, $teal 30%, $sky 100%);
}

.brightness-slider-box scale highlight {
  @include rounding;
  background-image: linear-gradient(to right, $yellow 30%, $peach 100%);
}

.time { font-size: 2.5rem; }
.date-box {
  margin: 0 1rem;

  label { font-size: 1.5rem; }
}

.battery-box { margin: .5rem 1rem; }
.battery-icon { font-size: 2rem; }

.side-options-box {
  margin: .5rem 1rem;

  button {
    background-color: $surface0;
    border-radius: 50%;
    padding: .5rem;

    label {
      font-size: 1.5rem;
    }

    &:hover {
      background: $overlay0;
    }
  }
}
