.bar {
  background: $bar-bg;
}
.module {
  margin: 0 0.5rem;
}

/* workspaces */
.focused {
  background-color: $focused;
  border-radius: 1rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.ws {
  background: $surface;
  border-radius: 2rem;
  margin: 0.8rem 0.2rem;
  padding: 0.1rem;
}

.ws-red {
  background: $red;
}
.ws-yellow {
  background: $yellow;
}
.ws-green {
  background: $green;
}
.ws-blue {
  background: $blue;
}
