.calendar-window {
  @include window;
}

calendar {
  margin: 0.3rem;
  padding: 0.2rem;

  :selected {
    background: $surface;
    border-radius: 100%;
    padding: 0.3rem 0.5rem;
  }

  .header {
    color: $subtext;
  }

  .highlight {
    color: $red;
    font-weight: bold;
  }

  .button {
    padding: 0.5rem 0.3rem;
  }

  :indeterminate {
    color: $subtext;
  }
}
