$red: #d20f39;
$yellow: #df8e1d;
$green: #40a02b;
$blue: #1e66f5;

$tooltip-bg: #ffffff;

$accent: rgb(186, 195, 255);

$bar-bg: rgba(255, 255, 255, 0.3);
$bg: rgba(255, 255, 255, 0.5);
$fg: #000000;
$surface: rgba(255, 255, 255, 0.3);
$overlay: rgba(0, 0, 0, 0.5);

$button: rgba(0, 0, 0, 0.1);
$hover: adjust_color($button, $alpha: +0.1);

$button-active: $accent;
$button-active-hover: adjust_color($accent, $lightness: -20%);

$text: $fg;
$subtext: rgba(0, 0, 0, 0.5);

$focused: $surface;

@mixin border {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
