/* CPU & RAM */
.sys-indicator {
  .property {
    font-size: 0.5rem;
    font-weight: 300;
    margin-bottom: -0.2rem;
    margin-top: 0.4rem;
  }

  .value {
    font-size: 0.8rem;
  }

  margin: 0.35rem;
}

.bar .battery .icon {
  font-size: 1.2rem;
  .low {
    color: $red;
  }
}
