/* system menu */

.system-menu-window {
  @include window;

  .text {
    font-size: 0.8rem;
  }

  & > box {
    @include window-box;
  }
}

/* wifi/bt/airplane buttons */
.toggle {
  margin: 0.2rem;

  button {
    margin-right: 0.5rem;
  }
}

/* volume & brightness sliders */
.sliders {
  scale {
    min-width: 15rem;
  }

  trough {
    margin-left: 0;
    margin: 0 0.45rem 0 0.3rem;
  }

  .icon {
    margin: 0 0.3rem;
  }
}

/* battery & power button */
.system-menu .battery {
  .icon {
    font-size: 1.5rem;

    &.low {
      color: $red;
    }
  }

  * {
    transition: none;
  }
  .rate {
    color: $subtext;
  }
  .status {
    margin: 0 0.5rem;
  }
}

.button.power {
  margin: 0.1rem;
}
